  .custom-bg {
            height: 500px;
            width : 100%;
            background-image: url('./picture/baru.jpg');
            background-size: cover; /* Makes the image cover the entire container */
            background-position: center; /* Centers the image */
            background-repeat: no-repeat; }

    .padding1{
        padding-left: 80px;
    }
    .padding2{
        padding-bottom: 80px;
    }
    .menu-setting{
        padding-top: 40px;
        padding-right:80px;
        text-align: right;
        word-spacing: 20px;
    }

        .align-center {
            text-align: center;
                        }

        .head{ font-size: 80px; }

        a:link { 
          text-decoration: none; 
        } 
        a:visited { 
          text-decoration: none; 
        } 
        a:hover { 
          text-decoration: none; 
        } 
        a:active { 
          text-decoration: none; 
        }
        
        .responsive-image {
            width: 100%; /* Adjust width to fit the container */
            height: auto; /* Maintain aspect ratio */
                        }  
 

        .poppins-thick {
            font-family: "Poppins" ;
            font-weight: 900;
            font-style: normal;
            word-spacing: 10px;
            color: white;
            font-size: 40px;
            letter-spacing: 2px;
                        }

        .poppins-new {
            font-family: "Poppins" ;
            font-weight: 500;
            font-style: normal;
            font-size: 20px; }

        .poppins-medium {
            font-family: "Poppins" ;
            font-weight: 600;
            font-style: normal;
            font-size: 24px;
            color: black;
                        }

         .poppins-medium2 {
            font-family: "Poppins" ;
            font-weight: 800;
            font-style: normal;
            font-size: 26px;
            color: black;
                        }

        .black{
            color: black;
        }

        .img_deg{
            float: left;
        }

        .motivation-margin{
            margin-top: -20px;
            margin-left: 390px;
            margin-right: 390px;
        } 

        .motivation-pictures{
            margin-top: -20px;
            margin-left: 490px;
            margin-right:490px;
        } 

        .sustainable-picture{
            width:200px;
            height:200px;
                            }
        .robothand-picture{
            width:  180px;
            height: 170px;}
        
        .custom-bg1{
        background-image: url('./picture/header2.jpg')}

        .custom-bg3{
            height: 500px;
            width : 100%;
            background-image: url('./picture/header3.jpg');
            background-size: cover; /* Ensures the entire image is visible */
            background-repeat: no-repeat; 

         }

        
        .poppins-thick1 {
            padding-top: 40px;
            padding-left: 80px;
            padding-bottom: 230px;
            font-family: "Poppins" ;
            font-weight: 900;
            font-style: normal;
            word-spacing: 10px;
            text-align: left;
            color: black;
            font-size: 50px;
            letter-spacing: 2px;
                        }

        .poppins-thick3 {
            padding-top: 10px;
            padding-left: 80px;
            padding-bottom: 15px;
            font-family: "Poppins" ;
            font-weight: 900;
            font-style: normal;
            word-spacing: 10px;
            text-align: left;
            color: white;
            font-size: 50px;
            letter-spacing: 2px;
                        }
        .poppins-new3 {
            margin-top: 20px;
            font-family: "Poppins" ;
            font-weight: 500;
            font-style: normal;
            font-size: 17px;
            color: white;

        }

          .menu-spacing {
            word-spacing: 20px;
                        }

         .photo-size3{
            width: 250px;
            height: 250px;
        }

           .padding-top{
            padding-top: 80px;
        }

        .margin-text{
            margin-left: 100px;
            margin-right: 800px;
        }  

        .photo-size2{
            width: 150px;
            height: 140px;
        }
        
        .big-poppins{
            font-family: "Poppins" ;
            font-weight: 900;
            font-style: normal;
            word-spacing: 10px;
            text-align: left;
            color: black;
            font-size: 40px;
            letter-spacing: 2px;
            text-align: center;
        }
        .medium-poppins{
            font-family: "Poppins" ;
            font-weight: 900;
            font-style: normal;
            word-spacing: 8px;
            text-align: left;
            color: black;
            font-size: 20px;
            letter-spacing: 1px;
            text-align: center;  
        }